@import '~bootstrap/scss/bootstrap';

$primary-color: #007bff;
$secondary-color: #6c757d;
$border-color: #ced4da;

body,
html {
    height: 100%;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.text-center {
    margin-bottom: 2rem;
}

.card {
    margin-bottom: 2rem;
}

#editor {
    font-family: 'Courier New', monospace;
    height: 400px;
    min-height: 100px;
    resize: vertical;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    padding: 1rem;
    outline: none;
    &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
    }
    resize: none;
}

#preview {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: white;
    font-size: 14px;
}

.footer {
    text-align: center;
    font-size: 14px;
    color: $secondary-color;
}

.card-body {
    background-color: darkturquoise;
    font-size: 24px;
    border-radius: 6px;
}

.form-label {
    color: white;
    font-weight: bold;
}

.form-control {
    background-color: white;
}
